* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(48, 47, 53);
}

nav {
  padding-top: 50px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  height: 65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 38px;
}
.navigation li {
  list-style-type: none;
}

.contact-btn {
  background-color: #4d4d4d;
  color: white;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  transition: 0.3ms;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact-btn:hover {
  background-color: #7c7b7b;
}
.logo img {
  display: flex;
  align-items: center;
}

.card-wrapper {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1200px;
}

.card{
    background-color: #4d4d4d;
    width: 300px;
    transition-duration: 0.8s;
    height: 370px;
}

.card:hover{
  margin-top: 5px;
  margin-left: -10px;
  box-shadow: 5px 5px 5px 5px gray;
}

.card img {
  margin-top: 15px;
  /* margin-left: 12px; */
  width: 100%;
  height: 220px;
}


.card h2 {
  /* margin: auto; */
  margin-top: 15px;
  background: none;
  color: white;
  text-align: center;
  /* display: inline-block; */
}




.button-64 {
  margin-top: 28px;
  margin-left: 90px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 120px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(69, 68, 74);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

