* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.container {
  width: 1280px;
  margin: auto;
  position: relative;
}
a{
    text-decoration: none;
    color: white;
}
